<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="font/font_2668157_xn5kldkp5g/iconfont.css">
</head>

<body>
    <div class="html">
        <div class="index">
            <div class="register">
                <div class="register-right">
                    <p class="re">欢迎注册</p>
                    <form action="" method="get">
                        <input name="" type="text" class="kuang_txt" placeholder="手机号">
                        <i class="iconfont icon-shoujihao"></i>
                        <input name="" type="text" class="kuang_txt" placeholder="邮箱">
                        <i class="iconfont icon-youxiang"></i>
                        <input name="" type="text" class="kuang_txt" placeholder="密码">
                        <i class="iconfont icon-mima"></i>
                        <input name="" type="text" class="kuang_txt" placeholder="验证码">
                        <i class="iconfont icon-unlock"></i>
                        <div>
                            <input name="" type="checkbox" value=""><span>已阅读并同意<a href="javascript:;" target="_blank"><span class="lan">《XXXXX使用协议》</span></a>
                            </span>
                        </div>
                        <input name="注册" type="button" class="btn_zhuce" value="注册">
                    </form>
                </div>
                <div class="register-left">
                    <p class="title">使用以下账号直接登录</p>
                    <a href="#" class="zhuce_qq">QQ注册
                        <i class="iconfont icon-qq"></i>
                    </a>
                    <a href="#" class="zhuce_wb">微博注册
                        <i class="iconfont icon-shejiaotubiao-06"></i>
                    </a>
                    <a href="#" class="zhuce_wx">微信注册
                        <i class="iconfont icon-weixin"></i>
                    </a>
                    <p class="zhanghao">已有账号？<a href="sign.html">立即登录</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>