<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/sign.css">
    <link rel="stylesheet" href="font/font_2668157_xn5kldkp5g/iconfont.css">
</head>

<body>
    <div class="html">
        <div class="index">
            <div class="sign">
                <h2>用户登陆</h2>
                <input name="" type="text" class="kuang_txt" placeholder="请输入你的用户名/手机号">
                <i class="iconfont icon-shoujihao"></i>
                <input name="" type="text" class="kuang_txt" placeholder="请输入你的密码">
                <i class="iconfont icon-unlock"></i>
                <button>登陆</button>
                <button><a href="register.html">注册</a></button>
            </div>
        </div>
    </div>
</body>

</html>